<div class="contactList">
    <form [formGroup]="userDetail" (ngSubmit)="validateData()">
        <input  class="inputStyle" type="text" placeholder="username" formControlName="username" required/><span *ngIf="errorName"style="color:red;">Required</span>
        
        <br> <br>
            <label>Male
                <input type="radio"  name="radio" value="male" formControlName="Gender"><span *ngIf="errorGender" style="color:red;">Required</span>
              </label>
            <label>Female
                <input  type="radio"  name="radio" value="female" formControlName="Gender"><span *ngIf="errorGender" style="color:red;">Required</span>
              </label>
        <br> <br>
        <input class="inputStyle" type="text" placeholder="Country" formControlName="Country" required/><span *ngIf="errorCountry" style="color:red;">Required</span>
        <br> <br>
        <input  class="inputStyle" type="text" placeholder="City of Origin" formControlName="City" required/><span *ngIf="errorCity"  style="color:red;">Required</span>
        <br> <br>
        <input class="inputStyle"  type="text" placeholder="age" formControlName="age" required/><span *ngIf="errorAge" style="color:red;">Required</span>
        <br> <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    
</div>
<router-outlet></router-outlet>